* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
  }

  :root {
    --main-color: #ffe4e2;
  }

html {
    padding-top: 150px;
    text-align: center;
    scroll-padding-top: 200px;
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, a, h3 {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-size: 2.5rem;
}

h3, #form-title {
    font-size: 1.5rem;
    color: #FFFF;
    text-shadow: 1px 0px 1px #FF5449, 0px 1px 1px #FF847C, 2px 1px 1px #FF5449, 1px 2px 1px #FF847C, 3px 2px 1px #FF5449, 2px 3px 1px #FF847C;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color) ;
    width: 100%;
    height: 120px;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

#header-img {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 100px;
    border-radius: 52px;       
}

.nav-link {
    padding: 10px;
    margin-right: 10px;
    font-size: 1.2em;
}

#banner {
    display: block;
    justify-content: center;
    align-items: center;
}

.banner-wrapper {
    background-color: #ff857c8f;
    padding: 10px 0;
}

#banner img{
    width: 45%;
}

.slogan {
    font-size: 3.5rem;
    word-spacing: 10px;
    font-weight: lighter; 
    font-family: 'Quicksand', sans-serif;
    display: inline;
    
}
.adj {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    line-height: 70px;
    font-weight: 900;
    letter-spacing: -0.45px;
    display: inline;
    color: #FFFF;
    text-shadow: 1px 0px 1px #FF5449, 0px 1px 1px #FF847C, 2px 1px 1px #FF5449, 1px 2px 1px #FF847C, 3px 2px 1px #FF5449, 2px 3px 1px #FF847C, 4px 3px 1px #FF5449, 3px 4px 1px #FF847C, 5px 4px 1px #FF5449;
}

#banner-title{
    padding: 2rem;
}
#features {
    display: grid;
    padding: 40px 25px;
    align-content: center;
    justify-items: center;
    gap: 15%;
    margin: 50px 45px;
    grid-template-columns: repeat(3, 1fr);
    
}

.feature-item, #where-to-buy ul {
    text-align: center;
    line-height: 1.5;
    background-color: #ffb4af;
    padding: 45px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


#join, #form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

#email {
    padding: 2px 0;
    text-align: center;
    margin: 8px 0;
}


#where-to-buy, #pricing {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    
}

#where-to-buy li {
    text-align: start;
}    


#submit, .btn {
    background-color: #ff5449;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 2px 2px 2px #ffb4af;
}

.btn:hover {
    cursor: pointer;
}

#video {
    padding-top: 10px;
    align-items: center;
    margin: 50px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.option p, .option h3 {
    padding: 10px 10px;
}
 
.option1, .option2, .option3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    background-color: #ffb4af;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.7em;
}



@media screen and (max-width: 600px) {
    #features {
        display: flex;
        flex-direction: column;
    }

    .feature-item {
        margin-top: 50px;
    }

    .feature-item h3 {
        padding-bottom: 10px;
    }

    #video {
        width: auto;
    }
    
}

@media screen and (max-width: 465px) {
    #header-img {
        width: 20%;
        position: absolute;
        top: 0; 
        left: 40vw;
    }

    .nav-container {
        justify-content: center;
        align-items: end;
        padding-top: 10px;
    }

    .nav-container a {
        font-size: 80%;
    }

    .nav-link {
        padding-top: 10px;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
